.linje{
	height: 2px; 
	border-width: 0; 
	color: black; 
	background-color: black; 
}

.highlight_tal{
	color: blue;
}

.menu{
	text-align: center;  
	position: absolute;
	top: 135px; 
	left: 325px; 
	border: 05px solid darkorange;
	width: 900px;
} 

body{
	background-color: #FAC972; 
}

#knap{
	text-align: center; 
} 

#billede1{
	height: 250px; 
	width: 200px;
	padding-left: 250px; 
}

#billede2{
	height: 250px; 
	width: 200px;
	padding-left: 250px; 
}

#billede3{
	height: 250px; 
	width: 200px;
	padding-left: 250px; 
}

.billede{
	text-align: center;
	float: left;
	width: 25%; 
	padding: 5px; 
}

.billeder{
	content: "";
	clear: both;
	display: table; 
}

.sko {
	display: block; 
} 

.logo{ 
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
	width: 600px; 
	height: 125px;
}

.ikkeHighlight_tal{
	color: red;
}

